<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!--Don't touch-->
    <add key="force_ratio" value="4" />
    <add key="character_ratio" value="14" />
    <add key="max" value="66000" />
    <add key="max_stick" value="100" />
    <add key="deadzone" value="3000" />
    <add key="stick_speed" value="20000" />
    <add key="stick2_ratio" value="30" />
    <add key="moveattack" value="true" />
    <add key="vibration" value="true" />
    <add key="vb_stick" value="6000" />
    <add key="dpi_check" value="false" />
    
    <!-- refresh rate in ms -->
    <add key="refresh_rate" value="10" />

    <!--VKC-->
    <add key="VKC_ForceStop"  value="SHIFT" />
    <add key="VKC_ForceMove"  value="VK_E" />
    <add key="VKC_Skill3"     value="VK_1" />
    <add key="VKC_Skill4"     value="VK_2" />
    <add key="VKC_Skill5"     value="VK_3" />
    <add key="VKC_Skill6"     value="VK_4" />
    <add key="VKC_Potion"     value="VK_Q" />
    <add key="VKC_Character"  value="VK_I" />
    <add key="VKC_TownPortal" value="VK_T" />
    <add key="VKC_Skill"      value="VK_S" />

    <add key="VKC_Start"      value="ESCAPE" />
    <add key="VKC_Inventory"  value="LMENU" />
    <add key="VKC_MAP"        value="TAB" />

    <add key="VKC_SKIP"       value="SPACE" />
    <add key="VKC_HINTS"      value="LCONTROL" />
    
    <!--LeftClick-->
    <add key="GamepadButtonFlagsX" value="X" />
    <!--RightClick-->
    <add key="GamepadButtonFlagsA" value="A" />
    <!--VK_1-->
    <add key="GamepadButtonFlagsB" value="B" />
    <!--VK_2-->
    <add key="GamepadButtonFlagsY" value="Y" />

    <!--VK_3-->
    <add key="GamepadButtonFlagsRightShoulder" value="RightShoulder" />
    <!--VK_Q-->
    <add key="GamepadButtonFlagsLeftShoulder" value="LeftShoulder" />
    <!--ESCAPE-->
    <add key="GamepadButtonFlagsStart" value="Start" />
    <!--VK_I-->
    <add key="GamepadButtonFlagsBack" value="Back" />

    <!--LALT-->
    <add key="GamepadButtonFlagsDPadUp" value="DPadUp" />
    <!--VK_T-->
    <add key="GamepadButtonFlagsDPadRight" value="DPadRight" />
    <!--VK_S-->
    <add key="GamepadButtonFlagsDPadLeft" value="DPadLeft" />
    <!--TAB-->
    <add key="GamepadButtonFlagsDPadDown" value="DPadDown" />

    <!--SPACE-->
    <add key="GamepadButtonFlagsLeftThumb" value="LeftThumb" />
    <!--LCONTROL-->
    <add key="GamepadButtonFlagsRightThumb" value="RightThumb" />
  </appSettings>
</configuration>